---
title: 'Getting ready for a political season: the parliament'
author: Fousseynou Bah
date: '2018-05-31'
slug: getting-ready-for-a-political-season-the-parliament
categories:
  - R
  - elections
tags:
  - R
  - elections
  - parliament
  - Mali
  - data
---



<div id="what-weve-got-so-far" class="section level1">
<h1>What we’ve got so far</h1>
<div id="a-glimpse-of-the-balance-of-power" class="section level2">
<h2>A glimpse of the balance of power</h2>
<video width="90%"  controls loop>
<source src="/post/2018-05-31-getting-ready-for-a-political-season-the-parliament_files/figure-html/district_balance.webm" />
</video>
</div>
<div id="an-overview-with-mapping" class="section level2">
<h2>An overview with mapping</h2>
<video width="90%"  controls loop>
<source src="/post/2018-05-31-getting-ready-for-a-political-season-the-parliament_files/figure-html/parliament_map_gen.webm" />
</video>
</div>
</div>
