---
title: 'Presidential election in Mali: a look at the electoral list before the dice rolls'
author: Fousseynou Bah
date: '2018-07-16'
categories:
  - data
  - elections
  - R
tags:
  - data
  - elections
  - Mali
  - presidential
slug: presidential-election-in-mali-befor-we-roll-the-dice
---



<div id="getting-started" class="section level2">
<h2>Getting started</h2>
<p>Few weeks ago, when I heard that the voting cards were available, I almost went into a frenzy. Not because I’m militing for a candidate. Sure, I have my opinions and convictions, but it’s not like I’m a fervent supporter of a given candidate, someone who sets out to convert anybody they get the chance to talk to about politics… Ok, maybe a little. But here, I was more driven by what voting means: a chance to speak up, an opportunity to make a difference or contribute to a change. And that’s something to take very seriously, a privilege that’s rarely acknowledged…well, until it’s taken away. Anyway…. I spent three days running, making calls, looking online to find out where I am registered to vote, where I could withdraw my card. After three days of weathering an impossibly burning sun and a freezing cold rain (brave me! - come one, I’m trying to turn this into a Hollywood movie material…or a Nollywood movie material), I finally got my card. I wanted to wait until the D-day to turn out and vote. That was it! But then, I learned through a friend that the electoral list was available online. And I saw an opportunity for some data analysis. Rather than going out to conduct a poll - interesting ones are being done right now -, I thought I would focus on building a baseline, a foundation for the analysis of the results.</p>
<p>The data is available on the webpage of the <a href="http://www.dgemali.gouv.ml">General Delegation of Elections (<em>Délégation Générale aux Elections</em>)</a>. I specifically used the information from this <a href="http://www.dgemali.gouv.ml/photos/MALI_Statistiques_Electorales_Avril_2018.pdf">document</a>. It already has graphs, maps and tables.</p>
<p>The bulk of the work I did here consisted of organizing the data in an <a href="https://github.com/fousseynoubah/elections/blob/master/presidential/liste_electorale.xlsx?raw=true">Excel spreadsheet</a>, importing it into R and making it tidy. The output can be found on my <a href="https://github.com/fousseynoubah/elections/tree/master/presidential">Github page</a>. Yes, I confirm it! The 80%/20% rule is true. Most of my data science time goes into organizing and cleaning the data. The remaining time, I use it to complain…drink a lot of coffee…and do some actual analysis.</p>
</div>
<div id="who-are-the-voters" class="section level2">
<h2>Who are the voters?</h2>
<p>On July 29, roughly 8 million Malian citizens are expected to vote. Well, at least, that how many people there are on the electoral list. Whether they will turn out or not is another story…one we will probably tell later.</p>
<p>What is known about the voters varies depending on the source one uses. For those doing polls, the information probably ranges from the age and sex to aspects like the marital status, the professional occupation, or even the number of pets the voters have. Unfortunately, with the electoral list, the information is not that rich. Which is not to say it’s not useful!</p>
<p>Here’s what we have: the voters’ age. Using the distinction by sex, we can visualize at least an age pyramid.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph1-1.png" width="100%" style="display: block; margin: auto;" /></p>
<table>
<caption><span id="tab:unnamed-chunk-1">Table 1: </span>Voters, by age group and by sex (%)</caption>
<thead>
<tr class="header">
<th align="left">Age group</th>
<th align="right">Female</th>
<th align="right">Male</th>
<th align="right">Total</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">18-25</td>
<td align="right">16.11</td>
<td align="right">14.32</td>
<td align="right">15.24</td>
</tr>
<tr class="even">
<td align="left">26-35</td>
<td align="right">29.67</td>
<td align="right">32.39</td>
<td align="right">30.99</td>
</tr>
<tr class="odd">
<td align="left">36-45</td>
<td align="right">21.38</td>
<td align="right">22.13</td>
<td align="right">21.75</td>
</tr>
<tr class="even">
<td align="left">46-55</td>
<td align="right">14.43</td>
<td align="right">14.20</td>
<td align="right">14.32</td>
</tr>
<tr class="odd">
<td align="left">56-65</td>
<td align="right">9.91</td>
<td align="right">9.48</td>
<td align="right">9.70</td>
</tr>
<tr class="even">
<td align="left">65+</td>
<td align="right">8.50</td>
<td align="right">7.47</td>
<td align="right">8.00</td>
</tr>
<tr class="odd">
<td align="left">Total</td>
<td align="right">100.00</td>
<td align="right">100.00</td>
<td align="right">100.00</td>
</tr>
</tbody>
</table>
<p>As one would expect for a country like Mali, the age pyramid is an actual pyramid - <a href="https://en.wikipedia.org/wiki/Aging_of_Japan">sorry Japan, we need another name for you</a> -, with a wide base. This means that the youth, those below 25 or 30 years of age are a key demographic group. However, I must admit that the base does not grow fully until the mid-20’s. That’s because, the youngsters are not all registered on the electoral list, which is derived from <a href="http://demarchesadministratives.gouv.ml/demarches/afficher/Inscription-sur-la-liste-electorale-demande">the biometric database of the register of births, marriages and deaths</a>. To assess the gap, let’s compare with data from the <a href="http://www.instat-mali.org/contenu/rgph/tdemo09_rgph.pdf">2009 census</a>.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph2-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>The comparison reveals that the weight of the population under 35 in the electoral list is 15 percentage points below its 2009 level (based on the 2009 census). We would have to wait and see if the youngsters that are registered will turn out and vote, and make up those who can’t.</p>
<p>Unfortunately, the <a href="http://www.dgemali.gouv.ml/photos/MALI_Statistiques_Electorales_Avril_2018.pdf">DGE document</a> does not cross the age of the voters with their location. That would’ve enabled additional visualization, such as the <em>faceting</em> of the age pyramid by region or by district.</p>
</div>
<div id="where-are-the-voters" class="section level2">
<h2>Where are the voters?</h2>
<p>When we turn to the voters’ location, we find more details in the document. Domestic voters are grouped by sex and by municipality, and those abroad by sex and by country.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph3-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>Domestically, voters are concentrated in the south of the country. The northern regions - Tombouctou, Gao, Kidal - represent 8.99% of the voting population. With the center added - Mopti -, that share goes up to 21.95%. These numbers are in line with the spatial distribution of the population. However, the extent to which the voting population will turn out in those regions is something independent of its size. It will depend on the security context. We will only be able to measure that afterwards.</p>
<p>When we turn to the voters located abroad - 452900 or 5.66% of the total voting population -, we clearly see the demographic of immigration at work. It is driven by men who, subsequently, constitute the majority of that group (70.82%).</p>
<table>
<caption><span id="tab:unnamed-chunk-2">Table 2: </span>Voters, by zone/region and by sex (%)</caption>
<thead>
<tr class="header">
<th align="left">Zone</th>
<th align="left">Region</th>
<th align="right">Female</th>
<th align="right">Male</th>
<th align="right">Total</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Domestic</td>
<td align="left">Bamako</td>
<td align="right">13.81</td>
<td align="right">16.07</td>
<td align="right">14.97</td>
</tr>
<tr class="even">
<td align="left">Domestic</td>
<td align="left">Gao</td>
<td align="right">3.86</td>
<td align="right">3.70</td>
<td align="right">3.78</td>
</tr>
<tr class="odd">
<td align="left">Domestic</td>
<td align="left">Kayes</td>
<td align="right">12.75</td>
<td align="right">11.28</td>
<td align="right">12.00</td>
</tr>
<tr class="even">
<td align="left">Domestic</td>
<td align="left">Kidal</td>
<td align="right">0.40</td>
<td align="right">0.52</td>
<td align="right">0.46</td>
</tr>
<tr class="odd">
<td align="left">Domestic</td>
<td align="left">Koulikouro</td>
<td align="right">14.95</td>
<td align="right">13.84</td>
<td align="right">14.38</td>
</tr>
<tr class="even">
<td align="left">Domestic</td>
<td align="left">Mopti</td>
<td align="right">13.37</td>
<td align="right">12.57</td>
<td align="right">12.96</td>
</tr>
<tr class="odd">
<td align="left">Domestic</td>
<td align="left">Segou</td>
<td align="right">15.06</td>
<td align="right">14.20</td>
<td align="right">14.62</td>
</tr>
<tr class="even">
<td align="left">Domestic</td>
<td align="left">Sikasso</td>
<td align="right">17.39</td>
<td align="right">15.49</td>
<td align="right">16.42</td>
</tr>
<tr class="odd">
<td align="left">Domestic</td>
<td align="left">Tombouctou</td>
<td align="right">5.01</td>
<td align="right">4.51</td>
<td align="right">4.75</td>
</tr>
<tr class="even">
<td align="left">Foreign</td>
<td align="left">Africa</td>
<td align="right">2.46</td>
<td align="right">5.80</td>
<td align="right">4.17</td>
</tr>
<tr class="odd">
<td align="left">Foreign</td>
<td align="left">America</td>
<td align="right">0.07</td>
<td align="right">0.10</td>
<td align="right">0.08</td>
</tr>
<tr class="even">
<td align="left">Foreign</td>
<td align="left">Asia</td>
<td align="right">0.20</td>
<td align="right">0.20</td>
<td align="right">0.20</td>
</tr>
<tr class="odd">
<td align="left">Foreign</td>
<td align="left">Europe</td>
<td align="right">0.67</td>
<td align="right">1.71</td>
<td align="right">1.20</td>
</tr>
<tr class="even">
<td align="left">Total</td>
<td align="left">Total</td>
<td align="right">100.00</td>
<td align="right">100.00</td>
<td align="right">100.00</td>
</tr>
</tbody>
</table>
<p>Now let’s go back to the homeland, and do some mapping to see how the electorate is scattered across the country. We start by grouping the municipalities by population size:</p>
<ul>
<li><p>0 to 5 thousand ;</p></li>
<li><p>5 to 10 thousand ;</p></li>
<li><p>10 to 50 thousand ;</p></li>
<li><p>50 to 100 thousand ;</p></li>
<li><p>100 thousand and above.</p></li>
</ul>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_map1-1.png" width="100%" style="display: block; margin: auto;" /></p>
<table>
<caption><span id="tab:unnamed-chunk-3">Table 3: </span>Voting municipalities, by size of the voting population</caption>
<thead>
<tr class="header">
<th align="left">Voters (thousands)</th>
<th align="right">Municipalities (number)</th>
<th align="right">Municipalities (share, %)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">[0-5[</td>
<td align="right">236</td>
<td align="right">33.57</td>
</tr>
<tr class="even">
<td align="left">[5-10[</td>
<td align="right">276</td>
<td align="right">39.26</td>
</tr>
<tr class="odd">
<td align="left">[10-50[</td>
<td align="right">178</td>
<td align="right">25.32</td>
</tr>
<tr class="even">
<td align="left">[50-100[</td>
<td align="right">7</td>
<td align="right">1.00</td>
</tr>
<tr class="odd">
<td align="left">[100- [</td>
<td align="right">6</td>
<td align="right">0.85</td>
</tr>
<tr class="even">
<td align="left">Total</td>
<td align="right">703</td>
<td align="right">100.00</td>
</tr>
</tbody>
</table>
<p>We see that 72% of the municipalities count less than 10000 thousand voters. Now, we may not have the numbers to see how that factored into the campaign strategies. Did the candidates focus on the rural areas where reside the majority of the voters, but where the turn out rate might not be high? Or did they select the heavyweights, meaning the municipalities and districts of critical size, and where the mobilization can easily translate into votes? Given that we have a universal suffrage system, one can assume a reasonable trade-off on the candidates’ part. Let’s see which are the municipalities with the largest electorate. Let’s try 50 thousand voters and above:</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph4-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>It clearly shows that they’re in the national capital or the regional capitals. The exceptions that make the list happen to be very close the capital (Kalabancoro, Kati) or to hold a strategic importance for the economy (Koutiala, for the cotton industry and the closeness to the border with Ivory Coast). The electorate in these heavyweights is 7 to 45 times larger than that of the median municipality (6564 voters). Therefore, it makes sense for a candidate to throw all they’ve got at them. We’ll see how it turns out. Hopefully, the results will be published in as much details as the list was given.</p>
</div>
<div id="few-questions" class="section level2">
<h2>Few questions</h2>
<p>As I examined the <a href="http://www.dgemali.gouv.ml/photos/MALI_Statistiques_Electorales_Avril_2018.pdf">DGE document</a>, few questions crossed my mind. The obvious one was - one that anyone who’s been aware of Mali’s situation over the last six years would probably ask - : “Can the elections really be held in this context?” Not only did I realize that the document did not have the data it takes to help me answer that question, but I also thought to myself that it was too late to raise it now that the decision has been made, and I myself I was determined to take part in it. However, it was still time to throw some questions around about the logistics.</p>
<p>“What can be learned by computing few statistics about the voters and the polling places?”</p>
<p>Let’s start by looking at the relationship between the number of voters and the number of polling places.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph6-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>It appears that, on average, there is a polling place for every 330 voters. If the voting should take place during a 12-hour period for example, every vote should take about 2.18 minutes. Well, that’s based on the assumption of a full turn out. And also, 330 is just an average. Let’s map the ratio to see how the situation varies across the country.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_map2-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>Overall, the pressure on the polling places seems evenly distributed across the country. With few exceptions in the north, though. The district of Goundam, in the north west has a low ratio. In Kidal we have extremes: a high-ratio municipality (Tessalit) next to a low-ratio one (Timtaghene).</p>
<p>It is also useful to remember that the polling places will be located in schools (called voting centers), where the number of classrooms can play a role in the pressure. Let’s see how the ratio polling places to schools is distributed across regions. Let’s compute the average ratio by region, along with the standard deviation (measuring the variability of the ratio across municipalities within the same region).</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph7-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>In the regions (outside the capital), the average ratio ranges from 1.5 to 2 (slightly above) across regions. There will be approximately two polling places per voting center. In Bamako the average is much higher, around 17, but so is the variability.</p>
<p>With the results, we’ll see how things turn out!</p>
</div>
<div id="the-withdrawal-of-electoral-cards" class="section level2">
<h2>The withdrawal of electoral cards</h2>
<p>On the website on the Prime Minister’s Office (<em>Primature</em>), announcements are made as to the number of voters who withdraw their electoral cards from the polls they are registered at. It seemed useful to examine those announcements and extract some data for visualization purposes, and also to consolidate the baseline for further analysis. The data used here comes from three pages: <a href="http://www.primature.gov.ml/index.php/salle-de-presse/actualites/11722-point-des-preparatifs-de-l-election-du-president-de-la-republique-du-29-juillet-2018-au-mali">here</a>, <a href="http://www.primature.gov.ml/index.php/salle-de-presse/actualites/11728-situation-de-distribution-des-cartes-d-electeur-biometriques-a-la-date-du-12-juillet-2018">here</a>, and <a href="http://www.primature.gov.ml/index.php/salle-de-presse/actualites/11731-retrait-des-cartes-d-electeurs">here</a>.</p>
<p>Are also added other sources from the online press and social networks (all relaying data from meetings with official sources). The details are given in this <a href="https://github.com/fousseynoubah/elections/blob/master/presidential/liste_electorale.xlsx?raw=true">file</a>.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph8-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>One of the pages gives details of the withdrawal data by district. Let’s map that!</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_map3-1.png" width="100%" style="display: block; margin: auto;" /></p>
<p>Over the 45 centres listed, the rate is know for only 13. The information has not been given for the others.</p>
<p><img src="/post/2018-07-16-presidential-election-in-mali-befor-we-roll-the-dice_files/figure-html/presidential_gph09-1.png" width="100%" style="display: block; margin: auto;" /> These centers represent about 51.61% of the electorate living abroad. However, the withdrawal is very low for the heavyweights of the list such as Abidjan (6.64% for about than 150 000 voters) or Bouaké (25.05% for over 30 000 voters).</p>
</div>
